{% extends 'base.html' %}

{% block content %}
{% load static %}

{% if perms.golden_bride.add_goldenbridetable %}
<a class="btn btn-success" href="{%  url 'golden_bride_new_table'  %}" role="button">Create Table</a>
{% endif %}
<p> {% csrf_token %}</p>


<div id="list-example" class="list-group">

<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="list-group-item list-group-item-action" href="?page=1">Январь</a>
    </li>
    <li class="nav-item">
      <a class="list-group-item list-group-item-action" href="?page=2">Февраль</a>
    </li>
    <li class="nav-item">
      <a class="list-group-item list-group-item-action" href="?page=3">Март</a>
    </li>
    <li class="nav-item">
      <a class="list-group-item list-group-item-action" href="?page=4">Апрель</a>
    </li>
    <li class="nav-item">
      <a class="list-group-item list-group-item-action" href="?page=5">Май</a>
    </li>
    <li class="nav-item">
      <a class="list-group-item list-group-item-action" href="?page=6">Июнь</a>
    </li>
    <li class="nav-item">
      <a class="list-group-item list-group-item-action" href="?page=7">Июль</a>
    </li>
    <li class="nav-item">
      <a class="list-group-item list-group-item-action" href="?page=8">Август</a>
    </li>
    <li class="nav-item">
      <a class="list-group-item list-group-item-action" href="?page=9">Сентябрь</a>
    </li>
    <li class="nav-item">
      <a class="list-group-item list-group-item-action" href="?page=10">Октябрь</a>
    </li>
    <li class="nav-item">
      <a class="list-group-item list-group-item-action" href="?page=11">Ноябрь</a>
    </li>
    <li class="nav-item">
      <a class="list-group-item list-group-item-action" href="?page=12">Декабрь</a>
    </li>
</ul>
    </div>

<div>

    <table class="table table-responsive ">
    <thead>
    <th class="border border-success">Day</th>
    {% for i in month %}
    <th class="border border-success">{{i}}</th>
    {% endfor %}
    </thead>
    <tfoot>
    <th class="border border-success">Sum</th>
    {% for i in month %}
    <th class="day_sum border border-success" id={{i}} width="2%"></th>
    {% endfor %}
    </tfoot>
    </table>
</div>


{% for form in data %}
{% for table in form %}
<div>
<table class="table table-bordered">
    <thead>
    <th>Clients</th>
    <th width="2%">ID</th>
    {% for i in month %}
    <th>{{i}}</th>
    {% endfor %}
    </thead>
    <tfoot>
    <th>Sum</th>
    <th></th>
    {% for i in month %}
    <th id={{i}} width="2%"></th>
    {% endfor %}
    </tfoot>

    {% for client_table in table.values %}
    <tbody name={{client_table.table.table_info.operator_name}} {{client_table.table.table_info.operator_surname}} id={{client_table.table.table_info.id}}>
    <tr>
        <th rowspan="2">{{client_table.table.table_info.client_name}} {{client_table.table.table_info.client_surname}}
        </th>
        <td class="table_type">{{client_table.table.table_info.account_id}}</td>
        {% for i in month %}
        <td width="3%" class="day_of_month" onmouseover="this.style.backgroundColor='#FDF5E6'"
            onmouseout="this.style.backgroundColor='#ffffff'">
            {% for info in client_table.table.table_data %}
            {% if info.day == i %}
            <p id={{info.id}}>{{info.data}}$</p>
            {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    </tbody>

    {% endfor %}
    </table>
     </div>
    {% endfor %}
    {% endfor %}

<script>
    var perms = "{{ perms.assets }}";
    var days_is_month = parseInt("{{ month|last }}")
</script>
<script src="/static/workpage/golden_bride.js">
</script>
<script>
    var mytoken = "{{ csrf_token }}";
</script>

{% endblock %}


