{% extends 'base.html' %}

{% block content %}

<p name="client_id" type="hidden">{{form.pk}}</p>

<form method="GET" class="get-form">

<div class="card mb-3" style="max-width: 1280px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{form.photo}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{form.name}} {{form.surname}}</h2>


        <div class="row">

          <div class="col-md-3">
        <ul class="list-group">
             <li class="list-group-item active" aria-current="true">Закрепленные операторы</li>
          {% for i in current_operators %}
          <li class="list-group-item">{{ i }}</li>
              {% endfor %}
              </ul>
            </div>

          <div class="col-md-3">
        <ul class="list-group">
             <li class="list-group-item active" aria-current="true">Закрепленные рекламщики</li>
          {% for i in current_promotions %}
          <li class="list-group-item">{{ i }}</li>
              {% endfor %}
              </ul>
            </div>

          <div class="col-md-3">
        <ul class="list-group">
             <li class="list-group-item active" aria-current="true">Закрепленные Проэкт менеджеры</li>
          {% for i in current_project %}
          <li class="list-group-item">{{ i }}</li>
              {% endfor %}
              </ul>
            </div>
        </div>


        <div class="row">
          <div class="col-md-3">
          <label  for="onlyfanslogin">
            Onlyfans Login
          </label>
          <p id="onlyfanslogin">{{form.login_of}}</p>
          </div>
          <div class="col-md-3">
          <label  for="onlyfanspass">
            Onlyfans pass
          </label>
          <p id="onlyfanspass">{{form.password_of}}</p>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label  for="onlyfansemail">
            Onlyfans Email
          </label>
          <p id="onlyfansemail">{{form.of_email}}</p>
          </div>
          <div class="col-md-3">
          <label  for="onlyfansemailpass">
            Onlyfans Email pass
          </label>
          <p id="onlyfansemailpass">{{form.of_password_email}}</p>
            </div>
          </div>

          <div class="row">
              <label  for="telegram">
            Telegram photos
          </label>
          <p id="telegram">{{form.telegram_photos_link}}</p>

          </div>

          {% if form.paid_account %}
          <div class="row">

            <div class="col-md-3">
          <label  for="onlyfanspaidlogin">
            Onlyfans Login (Payed acc)
          </label>
          <p id="onlyfanspaidlogin">{{form.login_of_paid_account}}</p>
          </div>
          <div class="col-md-3">
          <label  for="onlyfanspaidpass">
            Onlyfans pass (Payed acc)
          </label>
          <p id="onlyfanspaidpass">{{form.password_of_paid_account}}</p>
          </div>
            </div>



          <div class="row">

            <div class="col-md-3">
          <label  for="onlyfanspaidemaillogin">
            Onlyfans Email Login (Payed acc)
          </label>
          <p id="onlyfanspaidemaillogin">{{form.email_of_paid_account}}</p>
          </div>
          <div class="col-md-3">
          <label  for="onlyfanspaidemailpass">
            Onlyfans Email Pass (Payed acc)
          </label>
          <p id="onlyfanspaidemailpass">{{form.password_of_email_paid_account}}</p>
          </div>
            </div>
          {% endif %}

    </div>
  </div>
</div>

    {% if perms.auth.change_permission %}
    <div class="row">

      <div class="row">
      </div>
      <div class="col">
        <form class="form-select" size="3" aria-label="size 3 select example">
        {{ operator.as_p }}
        <input type="button"  onclick="set_operator()" name="set_operator_button" class="btn btn-primary" value="Submit">
        </form>
      </div>

      <div class="col">
        {{ promo }}
        <input type="button"  onclick="set_promo()" name="set_promo_button" class="btn btn-primary" value="Submit">
      </div>
      {% if user.is_superuser %}
      <div class="col">
        {{ project }}
        <input type="button"  onclick="set_project_manager()" name="set_project_button" class="btn btn-primary" value="Submit">
      </div>
      {% endif %}

      {% endif %}



</div>

</form>
<script>
    var perms = "{{ perms.assets }}";
    console.log(perms)
</script>
<script src="/static/client_page/client_page.js"></script>
<script>
    var mytoken = "{{ csrf_token }}";
</script>

{% endblock %}